/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
body{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  min-width: 1200px;
}

:root {
	--color-jumbotron-blue: #b4d0e7;
	--color-footer: #000000;
	--color-button-blue: #0061ff;
	--color-yellow: #ffd830;
	--color-dark-red: #d5001f;
	--color-lonely-planet: #0d2481;
	--color-designit: #f5f5f5;
	--color-asu: #61082b;
	--color-florida: #0093ce;
	--color-designit-green: #a2d39b;
}
/* utility */
.debug{
    border: 1px solid red;
    
}
ul{
    list-style: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;   
}
.small-container{
    max-width: 1000px;
    margin: 0 auto;
}

section{
    margin-bottom: 70px;
}

/* flex utilities */
.d-flex{
    display: flex;
}
.no-flex{
    display: block;
}
.align-items-center{
    align-items: center;
    align-content: center;
}
.column{
    flex-direction: column;
}
.row{
    flex-direction: row;
}
.row-reverse{
    flex-direction: row-reverse;
}
.justify-start{
    justify-content: flex-start;
}
.justify-space-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.justify-flexend{
    justify-content: flex-end;
}
.wrap{
    flex-wrap: wrap;
}
.align-baseline{
    align-items: baseline;
}
.space-around{
    justify-content: space-around;
}
.align-flex-start{
    align-items: flex-start;
}
.align-items-stretch{
    align-items: stretch;
}
/* end flex utilities */

/* buttons */
.bluebutton{
    background-color: var(--color-button-blue);
    display: inline-block;
    padding: 5px;
    margin-left: 0px;
    margin-right: 0px;
    width: 230px;
    height: 40px;
    text-align: center;
}
.graybutton{
    border: 1px solid black;
    background-color: white;
    display: inline-block;
    padding: 5px;
    margin-left: 0px;
    margin-right: 0px;
    width: 230px;
    height: 40px;
    text-align: center;
}
.bluebutton > a{
    text-decoration: none;
    color: white;    
}
.graybutton > a{
    text-decoration: none;
    color: black;
}

/* radio button */
.radio-box{
    margin-bottom: 50px;
}
.radio-box span > div{
    display: inline-block;
    margin: 10px;
}
input[type="radio"] {
    width: 20px;
    height: 20px;
    margin-right: 0px;
    padding: 0;
    border: 2px solid rgba(0, 0, 0, 0.475);
    border-radius: 50%;
    appearance: none;
    background-color: transparent;
    outline: none;
  }
  input[type="radio"]:not(:disabled):checked {
    border: 5px solid var(--color-button-blue);
    background-color: white;
  }

/* header section */
nav{
    background-color: white;
    position: fixed;
    z-index: 1001;
    width: 100%;
    box-shadow: 0px 5px 5px gray ;
    
}
header nav ul li{
    margin: 10px;
}
nav a{
    text-decoration: none;
    color: black;
}
nav li:hover{
    border-bottom: 2px solid gray;
}
header nav ul li div:last-child{
   width: 80px;
   padding-top: 10px;
}
header{
    margin-bottom: 190px;
    background-color: var(--color-jumbotron-blue);    
}

h1{
    font-size: 90px;    
}
h2{
    margin-bottom: 30px;
}
.left{
    max-width: 40%;
    margin-top: 40px;
}
.left *{
    padding: 10px 5px 10px 5px;
    margin-bottom: 40px;
    
}

.subtitle{
    margin-top: 40px;
}
#jumbo{
    max-width: 100vh;
    position: relative;
    width: 100%;
    margin-top: 40px; 
}
.hero{
    position: relative;
    top: 80px;
}
.hero i{
    font-size: 1.5em;
    
}


/* tiles */
.longtile:not(.headtile){
    margin: 0px;
    border: 1px solid black;
    max-width: calc(100% / 3 - 15px);
}

.tile-content *:not(.bluebutton){
    padding: 0px 4px 25px 10px;
    margin-bottom: 10px;
}

.longtile i{
    padding: 0;
    text-indent: -1.3em;
}
.longtile .bluebutton{
    margin-left: 40px;
    padding-top: 10px;
    text-align: center;
    margin-bottom: 20px;
}
.headtile{
    border-bottom: 1px solid black;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.separ-line{
    border-bottom: 1px solid grey;
    margin-right: 200px;
}
.horizontaltile{
    margin: 0px;
    border: 1px solid black;
    max-width: 100%;   
}
.horizontaltile *:not(.bluebutton, a){
    padding: 0px 10px 5px 10px;
    margin-top: 10px;
}
.horizontaltile .headtile{
    text-align: center;
}
.horizontaltile h4{
    font-size: 1.5em;
}
.contactus-content{
    padding: 60px;
}
.contactus-content *:not(.graybutton, a){
    padding: 0px 0px 10px 0px;
    margin-bottom: 10px;
    
}
/* partner section */


/* dropbox business section */
.item{
    width: calc(100% / 3);
}
.item *{
    padding: 10px;
}
.item img{
    max-width: 100%;
}
/* learn more section */
.learnmore{
    padding-bottom: 20px;
    max-width: 50%;
}
.aaa{
    margin-top: 50px;
}
.learnmore h2{
    font-size: 2em;
}

/* partners section */
.partner{
    margin: 30px 0px 30px 0px
}
.partnerimg{
    max-width: 100%;    
}
.partnertext{
    max-width: 40%;
}

/* squares section */
.brands{
    max-width: 100%;
}
.square{
    width: calc(100% / 3);
    height: calc(100% / 2);
}
.square img{
    width: 100%;
    aspect-ratio: 1/1;
    filter: invert(100%);    
    display: block;
}
.centersquare{
    width: calc(100% / 3);
    background-color: #F5F5F5;
    padding: 30px;
}
.centersquare img{
    max-width: 60%;
}
.centersquare .separ-line{
    padding: 0px 50px 0px 0px;
    margin-bottom: 40px;
}
.logo{
    width: calc(100% / 2);
    height: calc(100% / 2);
    padding: 50px;
}
.logo:hover{
    border: 20px solid rgba(255, 255, 255, 0.482);
}

/* logos background */
.greenlogo{
    background-color: var(--color-designit-green);
}
.bordeauxlogo{
    background-color: var(--color-asu);
}
.skybluelogo{
    background-color: var(--color-florida);
}
.redlogo{
    background-color: red;
}
.lightbluelogo{
    background-color: var(--color-jumbotron-blue)
}
.darkbluelogo{
    background-color: var(--color-lonely-planet);
}
.yellowlogo{
    background-color: var(--color-yellow);
}

/* tryit section */
.tryit{
    background-color: #B4D0E7;
    color: var(--color-asu);
}
.tryfree{
    padding: 100px;
}
.tryit h2{
    font-size: 2em;
}

/* faq section */
.faq h2{
    font-size: 2em;
    margin-bottom: 30px;    
}
.question{    
    border-bottom: 1px solid black;
    padding: 20px 0px 20px 0px;
    position: relative;
    font-weight: 600;
}
.faq p{
   display: none;
    
}
.caret{
    position: absolute;
    right: 0px;
    top: 20px;
    display: inline-block;
}
.caret:hover + .fgh {
    display: block;
    padding: 20px;
    font-weight: 300;
}

/* footer section */
footer{
    background-color: var(--color-footer);
    color: white;
}
footer h3{
    margin: 80px 0px 20px 0px;
}
footer ul li{
    padding-top: 10px;
}
footer a{
    text-decoration: none;
    color: white;
}
.language{
    color: grey;
    display: inline-block;
    margin-top: 100px;
    padding: 50px 30px 50px 0px;
    border-top: 1px solid gray;
}